# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = false
quote_type = double
trim_trailing_whitespace = false

[*.{json,toml,yaml,yml}]
indent_size = 2

[Markdown]
insert_final_newline = true
trim_trailing_whitespace = true

[*.rs]
quote_type = double
indent_size = 4

[*.sql]
indent_size = 2

[*.{css,scss,sass,less}]
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,htm,xml}]
indent_size = 2

[**.{ts,tsx,js,jsx,cjs,mjs}]
indent_size = 2
quote_type = single

