dotenv
# use flake

# ----- cargo -----
export CARGO_TERM_COLOR="always"
export RUST_BACKTRACE="full"
export RUST_LOG="trace,scsys=trace,tower_http=debug"

load_secret CARGO_REGISTRY_TOKEN cargo-registry-token